{% extends '../components/base.html' %}
{% block content %}
        <!-- Page Content-->
                        <div class="col-lg-12 col-xl-4">
                            <div class="card mt-3 mb-5 mb-xl-0">
                                <div class="card-body p-5">
                                    <div class="bg-dark" style="width:200px; height:200px; border-radius:100px"> <img src="#!"> </div>
                                    <div style=""> <!--유저정보-->
                                        <p>유저 닉네임</p>
                                        <p>배송주소: 서울 oo구 00동, xxx-yyy</p>
                                        <p>등급: vip</p>
                                    </div>
                                    <p><a href="#!">정보 수정하기</a></p>
                                </div>
                            </div>
                        </div>

                        <h4>현재 진행중인 주문> 건</h4>
                        <div class="col-lg-12 col-xl-4">
                            <div class="card mt-3 mb-5 mb-xl-0">
                                <div class="card-body p-5">


                                </div>
                            </div>
                        </div>

                    <h4>구매내역</h4>
                        <div class="col-lg-12 col-xl-4">
                            <div class="card mt-3 mb-5 mb-xl-0">
                                <div class="card-body p-5">


                                </div>
                            </div>
                        </div>

{% endblock %}